<%title "List of Comments"%>
<%=link_to "Today's Comment", today_comment_url%><br/><br/>

<%if !@users_ids.blank?%>
<%i=1%>
	<%for user in @users_ids%>
		<%@comments=Comment.find(:all,:conditions=>["user_id=?",user],:order=>"created_at desc")%>
		<%user_name=User.find_by_id(user)%>
		<%=i%>.<b><%=user_name.name.capitalize %></b><br/>
		<ul>
		<% for comment in @comments %>
			<li><%=comment.body %> - <i><%=comment.created_at.strftime("%d-%m-%Y %I:%M:%S %p")%></i></li>
		<%end%>
		</ul>
	<%i+=1%>
	<%end%>
<%else%>
	No Comment<br/><hr />
<%end%>
