<div>
	<%= form.label :login ,"Login Name"%><br />
	<%= form.text_field :login %><br />
  </div>
<div>
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />
</div>

<div>
	<%= form.label :mobile %><br />
	<%= form.text_field :mobile %><br />
</div>
<div>
	<%= form.label :email %><br />
	<%= form.text_field :email %><br />
</div>

